body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
  }
  
  .login-header .logo {
    width: 30px;
    margin-bottom: 10px;
  }
  
  .login-header h2 {
    margin-bottom: 10px;
  }
  
  .login-header p {
    font-size: 14px;
    color: #777;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #444;
  }
  
  .create-account {
    margin-top: 20px;
  }
  
  .create-account a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .create-account a:hover {
    text-decoration: underline;
  }
  